<div class="container mt-5">
<h1>Listings</h1>

<ul>
  <% @listings.each do |listing| %>
    <%= link_to listing_path(listing.id) do%>
      <li><%= listing.name %>, <%= listing.category %> ,  € <%=listing.price_per_night%></li>
    <% end %>
  <% end %>
</ul>
</div>
