.my-listings-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  a{
    text-decoration: none;
  }
}

.add_a_listing{
  color: white;
  background-color: black;
  transition: 0.3s;
  border-radius: 15px;
  border: 1px solid black;
  transition: 0.3s;
  padding: 11px;
}

.add_a_listing:hover{
  color: black;
  background-color: white;
  border: 0.5px solid black;
}

// edit button
#edit_button{
  position: relative;
  z-index: 1;
  top: 78px;
  left: 9px;
  font-size: 23px;
}

// delete button
#delete_button{
  position: relative;
  top: 78px;
  z-index: 1;
  left: 217px;
  font-size: 23px;
  color: #f32d3e;
}

#delete_button:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: wiggle 0.7s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  0% { transform: rotate(4deg); }
  20% {transform: rotate(-4deg);}
  40% {transform: rotate(4deg);}
  60% {transform: rotate(-4deg);}
  80% {transform: rotate(4deg);}
  100% {transform: rotate(-4deg);}
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

* {
  box-sizing: border-box;
}


.card-my-listing {  
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 275px;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  background-image: url(https://images.pexels.com/photos/38270/son-in-law-cufflinks-black-and-white-bow-tie-38270.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
  
  @media (min-width: $bp-md) {
    height: 205px;
  }
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.009) 11.7%,
      hsla(0, 0%, 0%, 0.034) 22.1%,
      hsla(0, 0%, 0%, 0.072) 31.2%,
      hsla(0, 0%, 0%, 0.123) 39.4%,
      hsla(0, 0%, 0%, 0.182) 46.6%,
      hsla(0, 0%, 0%, 0.249) 53.1%,
      hsla(0, 0%, 0%, 0.320) 58.9%,
      hsla(0, 0%, 0%, 0.394) 64.3%,
      hsla(0, 0%, 0%, 0.468) 69.3%,
      hsla(0, 0%, 0%, 0.540) 74.1%,
      hsla(0, 0%, 0%, 0.607) 78.8%,
      hsla(0, 0%, 0%, 0.668) 83.6%,
      hsla(0, 0%, 0%, 0.721) 88.7%,
      hsla(0, 0%, 0%, 0.762) 94.1%,
      hsla(0, 0%, 0%, 0.790) 100%
    );
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
  
  > * + * {
    margin-top: 1rem;
  }
}

.title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: underline;
}

.card-my-listing-info {
  font-family: font-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 1.20;
}

.card-my-listing-price{
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  border: 1px 1px 1px 0;
  width: 200px;
  margin: 0 auto;
  display: block;
  text-align: center;

  p{
    margin: 0;
  }
}


@media (hover: hover) and (min-width: $bp-md) {
  .card-my-listing:after {
    transform: translateY(0);
  }
  
  .content {
    transform: translateY(calc(100% - 4.5rem));
    
    > *:not(.title) {
      opacity: 0;
      transform: translateY(1rem);
      transition:
        transform var(--d) var(--e),
        opacity var(--d) var(--e);
    }
  }
  
  .card-my-listing:hover,
  .card-my-listing:focus-within {
    align-items: center;

    &:before { transform: translateY(-4%); }
    &:after { transform: translateY(-50%); }

    .content {
      transform: translateY(0);

      > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
      }
    }
  }
  
  .card-my-listing:focus-within {
    &:before,
    &:after,
    .content,
    .content > *:not(.title) {
      transition-duration: 0s;
    }
  }
}





// RENTINGS CSS




.my-rentings-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  a{
    text-decoration: none;
  }
}

.renter-information {
  text-align: center;
  background-color: #ffffff;
  width: 250px;
  margin: 0 auto;
  font-size: 13px;
  border-radius: 0 0 15px 15px;
  padding-bottom: 1px;
}

#booking-duration{
  font-size: 18px;
}

.card-no-shadow{
  box-shadow: none !important;
}