.listing-container {
  margin-top: 30px;
  width: 900;
  display: flex;
  align-items: center;
  h2 {
    font-weight: bold;
    margin: 0 10;
    text-align: center;
    font-size: 30px;
  }

  h3 {
    font-size: 22px;
    margin: 10;
  }

  p {
    margin: 0;
    font-size: 18px;
  }

}

.primary-image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}

.listing-box {
  margin-top: 20px;
  height: 350px;
  width: 600px;
  padding: 15px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  background-color: #fff;
  margin-right: 20px;
  border-radius: 0 10px 10px 0;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}

.form {
  margin-top: 20px;
  height: 350px;
  width: 600px;
  padding: 15px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  background-color: #fff;
  border-radius: 10px;
}

.listing-button {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lender-info {
  display: flex;
  justify-content: space-between;
}

.reviews-container {
  margin-top: 20px;
  margin-left: 20px;
}

.error_message {
  position: relative;
  bottom: 15px;
  left: 10px;
  color: red;
}
