<div class="footer">
  <p>Follow Us</p>
  <div class="footer-icons">
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-linkedin-in"></i>
  </div>
</div>