<div class="footer">
  <p>Follow Us</p>
  <div >
    <ul class="footer-icons">
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-linkedin-in"></i></a>  </li>
    </ul>   
  </div>
</div>