<div class="home-banner">
  <h1>FindYourFormal</h1>
</div>

<div class="container">
  <div class="cards">
  
    <div class="card-row">

      <div class="card">
        <p>CARD</p>
      </div>

      <div class="card">
        <p>CARD</p>
      </div>

    </div>

    <div class="card-row">

      <div class="card">
        <p>card</p>
      </div>

      <div class="card">
        <p>card</p>
      </div>
    
    </div>
</div>
