<div class="home-banner">
  <h1>FindYourFormal</h1>
</div>

<div class="gender-container">

  <a href="#">
    <div class="gender-button">
      <div class="gender-text">
        <p>Male</p>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="gender-button">
      <div class="gender-text">
        <p>Female</p>
      </div>
    </div>
  </a>

</div>

<div class="cards-container">
  <div class="cards">
  
    <div class="card-row">
    
      <div class="card-container">
        <a href="#">
          <div class="card">
            <div class="card-text">
              <p>CARD-TEXT</p>
            </div>
          </div>
        </a>      
      </div>

     <div class="card-container">
        <a href="#">
          <div class="card">
            <div class="card-text">
              <p>CARD-TEXT</p>
            </div>
          </div>
        </a>      
      </div>

    </div>

    <div class="card-row">

      <div class="card-container">
        <a href="#">
          <div class="card">
            <div class="card-text">
              <p>CARD-TEXT</p>
            </div>
          </div>
        </a>      
      </div>

      <div class="card-container">
        <a href="#">
          <div class="card">
            <div class="card-text">
              <p>CARD-TEXT</p>
            </div>
          </div>
        </a>      
      </div>
    
    </div>
  </div>
</div>
