.gender-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 45px;
  background-color: black;
  border-radius: 5px;
  color: white;
  transition: 0.3s;
}

.gender-button:hover{
  opacity: 0.7;
  background-color: white;
  color: black;
  border: 0.5px solid black;
}

.gender-text > p {
  padding: 0;
  margin: 0;
}